:root{
    --happiness-level: 50%;
    --health-level: 50%;
    --size: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}
#navButtons{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
#gameControls {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1.5rem;
}
button:hover {
    background-color: #c70000;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4);
    cursor: pointer;
}
button:active {
    transform: scale(0.95);
}
select {
    padding: 10px;
    margin: 0 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.3s ease;

}
select:hover {
    border-color: #ff0000;
    box-shadow: 0 px 4px rgb(255, 0, 0);
    cursor: pointer;
}
#creatureImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}
#healthLevel {
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: 2rem;
    color: white;
    background-color: rgb(0, 194, 10);
    padding: 10px;
    border-radius: 5px;
    height: 90%;
    width: 3%;
    border: black solid 4px;
}

#happinessLevel {
    position: absolute;
    top: 50px;
    right: 150px;
    font-size: 2rem;
    color: white;
    background-color: rgba(255, 0, 242);
    padding: 10px;
    border-radius: 5px;
    height: 90%;
    width: 3%;
    border: black solid 4px;
}
#creatureStatusHealth {
    position: absolute;
    top: 0px;
    left: 135px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
#creatureStatusHappiness {
    position: absolute;
    top: 0px;
    right: 110px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
#happinessLevel::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--happiness-level);
  background-color: #f4f4f4;
}
#healthLevel::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--health-level);
  background-color: #f4f4f4;
}
#tooSadMessage {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
#tooFatMessage {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

#creatureImage img {
 transform: scaleX(var(--size));
 transition: 0.5 ease;
}
#specialSection {
    margin-top: 20px;
    padding: 10px;
    background-color: inherit;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: disappear 1s ease-in-out 5s forwards;
}

.ball {
  background-color: rgb(255, 0, 0);  
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: jump 1s ease-in-out 0s 3, smash 1s ease-in-out 3s 1;
  animation-fill-mode: forwards;
}

  @keyframes jump {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-150px); }
  100% { transform: translateY(0); }
  }
  @keyframes smash{
    0% {transform: scaleX(1);}
    100% {
        border-radius: 0px;
        height: 10px;
        width: 50%;
    }
  }
#loadingText {
  font-size: 4.5rem;
  position: fixed;
  top : 40%;
}
span{
    opacity: 0;
    animation: appear 1s ease-in-out 4s forwards;
}
@keyframes appear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes disappear {
    0% {opacity: 1;}
    100% {
        opacity: 0;
        display: none;
    }
    
}
