*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #333;
    text-decoration: none;
}
body{
    background-color: #f4f4f4;
}
header{
    margin-top: 70px;
}
#navDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ff0000;
}
#navList{
    list-style: none;
    display: flex;
    gap: 20px;
    
}
.navItem{
    font-size: 20px;
    color: #ffffff;
    transition: ease-in-out 0.2s;
}
.navItem:hover{
    color: #000000;
    transform:scale(1.1);
}
#playButton{
    background-color: #ffffff;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
}
#introductionDiv{
    margin: 0 80px 0 80px;
    height: 960px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}
#introductionDiv h1{
    margin: 30px 0 30px 0;
    font-size: 4rem;
}
#introductionDiv p:last-child, #introductionDiv p:first-child{
    font-size: 1.8rem;
    line-height: 1.5;
}
#foodImageContainer{
    width: 40%;
}
#foodImage{
    height: 100%;
    width: 100%;
}
#infoSectionDiv, #actionsDiv{
    display: flex;
    align-items: start;
    justify-content: start;
    height:100%;
}
#infoTextDiv{
    margin: 0 80px 0 80px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: justify;
}
#infoTextDiv h1{
    margin: 30px 0 30px 0;
    font-size: 4rem;
}
#infoTextDiv p{
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 10px 0 10px 0;
}
#donateButton{
    margin-top: 80px;
    background-color: #ff0000;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
#sponsorsDiv{
    margin: 0 80px 0 80px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 700px;
}
#sponsorsDiv h1{
    font-size: 4rem;
}
#sponsorsDiv p{
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 10px 0 10px 0;
    max-width: 960px;
    text-align: justify;
}
#sponsorsDiv ul li{
    font-size: 1.5rem;
    list-style: none;
    margin: 10px 0 10px 0;
    font-weight: bold;
}
#sponsorsDiv ul :hover{
    color: #ff0000;
    cursor: pointer;
}
#gameDiv{
    margin: 0 80px 0 80px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 700px;
}
#gameDiv h1{
    font-size: 4rem;
}
#gameDiv p{
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 10px 0 10px 0;
    max-width: 960px;
    text-align: justify;
}
#gameDiv button{
    margin-top: 80px;
    background-color: #ff0000;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
